* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {

    max-width: 100% !important;
    display: flex !important; 
    flex-direction: column !important;
}

.navbar-container {

    width: 30% !important;

}

.grid-container {

    width: 70% !important; 
    margin: auto;
    padding: 20px 15px;
}

.sub-grid-container {

    margin-left: 20px;
}

.home-heading-container {

    margin-top: 2.2rem !important;
}

/* media query for mobile devices */
@media screen and (max-width: 576px) {

    .navbar-container {

        display: none !important;
    }

    .navbar {

        display: none !important;
    }
    .grid-container {

        width: 100% !important; 
    }

    .sub-grid-container {

        margin-left: 0px;
    }
    .home-title {

        font-size: 1rem !important;
    }

    .show-more {

        font-size: 1rem !important;
        margin-right: 5px;
    }
}

/* media query from tablets and medium devices*/
@media screen and (max-width: 768px) {
    
    .grid-container {

        width: 100% !important; 
    }

    .home-title, .show-more {

        font-size: 1.2rem !important;
    }

    .show-more {

        margin-right: 5px !important;
    }

    .navbar {

        display: none !important;
    }

    .navbar-container {

        display: none !important;
    }
}

@media (min-width: 770px) and (max-width: 1500px) {

    .grid-container {

        width: 80% !important; 
    }

    .navbar-container {

        width: 20% !important;
    }

    .sub-grid-container {

        width: 80% !important; 
        margin-left: 32% !important;
    }

    .show-more, .home-title {

        font-size: 1.3rem !important;
    }

}

@media (min-width: 1500px) and (max-width: 1900px) {

    .grid-container {

        width: 80% !important;
    }

    .sub-grid-container {

        margin-left: 10% !important;
    }
}