* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.select-timeperiod {

    margin-left: 43% !important;
}


.stats-container {

    display: flex !important; 
    flex-direction: row !important;
    justify-content: space-evenly !important;
    align-items: center !important;
}

.coin-detail-container {

    margin-top: -2px !important;
}

.line-chart {

    max-width: 100% !important;
    width: 60% !important; 
    margin: auto !important;
}